.task-activity-txt {
    width: 100%;
    box-shadow: 0 1px 2px -1px #091e4240, 0 0 0 1px #091e4214;
    background-color: white;
    height: 35px;
    border-radius: 3px;
    padding: 8px 12px;
}

.activity {
    margin-bottom: 5px;
    margin-top: 20px;
    & .member {
        font-weight: 700;
        margin-inline-end: 10px;
    }
    & .time {
        font-size: 12px;
        font-weight: 400;
        white-space: pre;
        color: #5e6c84;
    }
}

.activity-avatar {
    position: absolute;
    margin-left: -40px;
    margin-top: -1px;
}
