.attachments-container{
    margin-bottom: 45px;
    .attachment-item{
        display: flex;
        gap: 20px;
        border-radius: 3px;
        margin: 0 0 8px;
        cursor: pointer;
        img{
            border-radius: 3px;
            object-fit: cover;
            width: 112px;
            height: 80px;
        }
        .attachment-action{
            text-decoration: underline;
            cursor: pointer;
        }
        .main-actions{
            margin-bottom: 22px;
        }
        &:hover{
            background-color: #eaecf0;
        }
    }



}