.board-list {
  display: grid;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-auto-rows: 120px;
  gap: 10px;
  grid-auto-flow: dense;

  & li {
    cursor: pointer;
    background-size: cover;
    color: #fff;
    font-weight: 700;
    border-radius: 3px;
    position: relative;
    padding: 10px;
  }
  & .star {
    font-size: 12px;
    color: yellow;
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
}
