.board-header {
  margin: 18px 0 10px 12px;

  & .btn {
    @include lightBtn;
  }

  .board-header-favorite:hover {
    color: $favorite-clr;
    transform: scale(1.2);
  }
  .fa-solid {
    color: $favorite-clr;
  }

  > * {
    color: white;
    @include board-btn($bg: rgba(240, 248, 255, 0));
  }

  button {
    align-items: stretch;
    gap: 5px;
  }
}
.board-header-title {
  margin-inline-start: 1rem;
  margin-bottom: 8px;

  input {
    font-size: 18px;
    padding: 6px 12px;
    &:not(:focus) {
      color: white;
    }
  }

  & .editable:hover:not(:focus) {
    border-radius: $border-rsize;
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.board-header-board-icon::before {
  @include boardHeader("\e942");
}

.board-header-invite-icon::before {
  @include boardHeader("\e902");
}

.board-header-filter-icon::before {
  padding-inline-start: 5px;
  @include boardHeader("\e92d");
}

.board-header-menu-icon::before {
  @include boardHeader("\e951");
}

.board-header-open-icon::before {
  @include boardHeader("\e923");
}

.board-header-favorite {
  @include boardHeader();
  height: 32px;
  width: 32px;
  padding: 6px 10px;
  margin-top: -8px;
  margin-inline-start: 1rem;
}

.members-preview {
  margin-inline-start: 2.5vw;
  margin-bottom: 5px;
}

.invite-members-container {
  margin-inline-start: 8px;
}

.show-menu {
  margin-inline-start: 8px;
  padding: 7px 16px;
}
