.board-menu {
    .fa-star:hover {
        color: $favorite-clr;
        transform: scale(1.2);
    }
    .fa-solid {
        color: $favorite-clr;
    }

    > * {
        @include board-btn;
    }
}