.color-picker{
  display: flex;
  justify-content: space-between;

  // & .selected{
  //   @include icon("î¤•")
  // }
}

.color-picker > div {
    width: 40px;
    height: 32px;
    cursor: pointer;
    border-radius: 3px;
  }


  