.color-picker{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: -10px 0 0 0;

  // & .selected{
  //   @include icon("")
  // }
}

.color-picker > div {
  width: 50px;
  height: 32px;
  cursor: pointer;
  border-radius: 3px;
  margin-top: 10px;

  &:hover {
    filter: saturate(85%) brightness(85%);
  }
  }


  