.labels-item h3 {
  display: block;
  margin-top: 17px;
  margin-left: 3px;
}

.labels-item input {
  margin-top: 7px;
  display: block;
  line-height: 20px;
  padding: 8px 12px;
  background-color: #fafbfc;
  border: none;
  outline: none;
  border-radius: 3px;
  box-shadow: inset 0 0 0 2px #dfe1e6;
  font-size: 14px;
  transition-duration: 85ms;
  transition-property: background-color, border-color, box-shadow;
  transition-timing-function: ease;
  width: 100%;
}

.labels-item ul li {
  cursor: pointer;
  height: 32px;
  margin-bottom: 4px;
  display: flex;
  justify-content: space-between;
  width: 248px;
  
  & .label-txt {
    z-index: 5;
    color: white;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    font-weight: 700;
    margin: 2px 0 4px 6px;
    min-height: 31px;
    padding: 6px 3px;
    position: relative;
    transition: padding 85ms;
    min-width: 239px;
  }

  & .edit-labels {
    @include icon('\e927');
    padding: 9px;
    margin-right: -19px;
  }

  & .hover-marker{
    border-radius: 3px;
    min-width: 246px;
    min-height: 31px;
    padding-left: -13vw;
    position: absolute;
    margin-left: -1px;
    margin-top: 2px;
    background-color: rgb(102, 84, 84);
  }
}

.delete-label{
  background-color: #b04632 !important;
  border: none;
  color: white;
  width: 53px !important;
  margin: 5px 0 0 0;
  justify-content: center;
}

.labels-actions{
  margin-top: 10px;
}
