.main-header {
  background-color: $clr1;
  max-height: 44px;
  padding: 6px 4px;
}

.header-cmp {
  cursor: pointer;
  height: inherit;
  color: $clr2;
  border: 0;
  line-height: 32px;
  margin-right: 4px;
  display: flex;
  align-items: center;
  background-color: rgba(253, 253, 253, 0);
  font-size: 0.875rem;
  border-radius: 3px;
  padding: 2.1px 14px;
  &:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
  .el-input__inner {
    background-color: $clr5;
    outline: none;
  }
}

.header-container .create-btn {
  background-color: $clr4;
  &:hover {
    background-color: $clr5;
  }
}
