.task-add {
  cursor: pointer;
  margin-left: $draggable-spacing;
  margin-right: $draggable-spacing;
  margin-top: 3px;
  padding: 4px 3px 2px;
  display: flex;
  color: #5e6c84;
  
  .plus-icon::before {
      content: "\e901";
      font-family: Trello;
      padding: 3px;
      padding-left: 8px;
      font-size: 16px;
      line-height: 20px;
  }

  .add-task-txt {
    margin-left: 2px;
  }

  &:hover {
    color: #172b4d;
    background-color: #091e4220;
    border-radius: $border-rsize;
  }
}

.task-add.open {
  margin: 0 4px $spacing 5px;
  flex-direction: column;
}

