.task-preview {
    cursor: pointer;
    background-color: $clr2;
    padding: 6px 8px 2px;
    margin: 0 7px 8px 8px;
    border-radius: $border-rsize;
    box-shadow: 0 1px 0 #091e4240;
    line-height: 20px;
    
     p {
        margin: 0 0 4px;
        word-break: break-word;
    }

    &:hover {
        background-color: #f4f5f7;
        // border-bottom-color: #091e4240;
    }
}

.drop-placeholder-task {
    background-color: $clr8;
    border-radius: $border-rsize;
    padding: 6px 8px 2px;
    margin: 0 7px 8px 8px;
    line-height: 20px;
}

.dragging {
    transform: rotate(5deg);
    box-shadow: 1px 10px 15px -4px rgba(0,0,0,0.25);
}

.preview-icon {
    @include taskPreviewIcon();

    &.completed {
        background-color: #61bd4f;
        border-radius: $border-rsize;
    }
}
