.task-cover{
    height: 160px;
    background-color: lightgreen;
    margin: -25px -20px 25px -60px;

    .cover-preview{
        --webkit-transform: translate3d(0, 0, 0);
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 8px;
        padding: 4px;
        margin: 0 -4px;
        overflow-x: hidden;
    }
}